# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=0d1a07ea0f5378fc96fa4e606aee2d55

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
OPENAI_API_KEY=""
OPENAI_BASE_URL=""
GPT_MODEL="gpt-4o"
BASE_URL=""
# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=""

# Instructions to create a PostgreSQL database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL="postgres://postgres:postgres@localhost:5432/ai"

# Instructions to create a Redis store here:
# https://vercel.com/docs/redis
REDIS_URL="redis://localhost:6379"